@import './base.css';
@import './fonts/result.css';

:root {
  --font-sans:
    ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

html,
body {
  font-family: 'LXGW WenKai Screen';
  /* font-family: var(--font-sans); */
  scrollbar-width: thin;
  scrollbar-arrow-color: transparent;
  scrollbar-base-color: transparent;
  scrollbar-color: transparent transparent;

  background-color: #f4f1ec;

  /* 大屏幕放大(TODO： 放大后tooltip会有偏移bug) */
  /* @media (min-width: 1920px) {
    body {
      transform: scale(1.25);
      transform-origin: top center;
    }
  } */
}

::selection {
  color: #fff;
  background: #000000;
}
