@import './base.css';
@import './fonts/result.css';

html,
body {
  font-family: 'LXGW WenKai Screen';
  scrollbar-width: thin;
  scrollbar-arrow-color: transparent;
  scrollbar-base-color: transparent;
  scrollbar-color: transparent transparent;

  background-color: #f4f1ec;

  /* 大屏幕放大 */
  @media (min-width: 1920px) {
    body {
      zoom: 1.1; /* 大屏幕放大1.1倍 */
    }
  }
}
